<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.finance.mapper.AccountBalanceMapper">
    <select id="listPage" resultType="com.szmsd.finance.domain.AccountBalance">
        select *from fss_account_balance
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <update id="updateCreditBatch" parameterType="list">
        update fss_account_balance
        <trim prefix="set" suffixOverrides=",">
            credit_status = 1,
            <trim prefix="credit_type = case" suffix="end,">
                <foreach collection="updateList" item="i" index="index">
                    <if test="i.currencyCode != null">
                        when currency_code = #{i.currencyCode} then #{i.creditType.type}
                    </if>
                </foreach>
            </trim>
            <trim prefix="credit_line = case" suffix="end,">
                <foreach collection="updateList" item="i" index="index">
                    <if test="i.creditLine != null">
                        when currency_code= #{i.currencyCode} then #{i.creditLine}
                    </if>
                </foreach>
            </trim>
            <trim prefix="credit_time_interval = case" suffix="end,">
                <foreach collection="updateList" item="i" index="index">
                    <if test="i.creditTimeInterval != null">
                        when currency_code= #{i.currencyCode} then #{i.creditTimeInterval}
                    </if>
                </foreach>
            </trim>
            <trim prefix="credit_begin_time = case" suffix="end,">
                <foreach collection="updateList" item="i" index="index">
                    <if test="i.creditBeginTime != null">
                        when currency_code= #{i.currencyCode} then #{i.creditBeginTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="credit_end_time = case" suffix="end,">
                <foreach collection="updateList" item="i" index="index">
                    <if test="i.creditEndTime != null">
                        when currency_code= #{i.currencyCode} then #{i.creditEndTime}
                    </if>
                </foreach>
            </trim>
            <trim prefix="credit_buffer_time = case" suffix="end,">
                <foreach collection="updateList" item="i" index="index">
                    <if test="i.creditBufferTime != null">
                        when currency_code= #{i.currencyCode} then #{i.creditBufferTime}
                    </if>
                </foreach>
            </trim>
        </trim>
        WHERE cus_code = #{cusCode}
        <if test="currencyCodeList != null and currencyCodeList.size() > 0">
            AND currency_code in
            <foreach collection="currencyCodeList" open="(" separator="," close=")" item="item">
                #{item}
            </foreach>
        </if>
    </update>
</mapper>
