<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.finance.mapper.ExchangeRateMapper">
    <select id="listPage" resultType="com.szmsd.finance.domain.FssExchangeRate">
        select *from fss_exchange_rate
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <select id="checkExchangeRateIsExists" resultType="com.szmsd.finance.domain.FssExchangeRate">
        select * from fss_exchange_rate
        where (exchange_from_id=#{exchangeFromId} and exchange_to_id=#{exchangeToId})
        or (exchange_from_id=#{exchangeToId} and exchange_to_id=#{exchangeFromId})
    </select>
</mapper>
