<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.szmsd.bas.mapper.BasTransportConfigMapper" >
  <resultMap id="BaseResultMap" type="com.szmsd.bas.domain.BasTransportConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="transport_code" property="transportCode" jdbcType="VARCHAR" />
    <result column="transport_name" property="transportName" jdbcType="VARCHAR" />
    <result column="transport_name_en" property="transportNameEn" jdbcType="VARCHAR" />
    <result column="warehouse_code" property="warehouseCode" jdbcType="VARCHAR" />
    <result column="product_code" property="productCode" jdbcType="VARCHAR" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_by_name" property="createByName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_by_name" property="updateByName" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="del_flag" property="delFlag" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, transport_code, transport_name, transport_name_en, warehouse_code, product_code, 
    product_name, create_by, create_by_name, create_time, update_by, update_by_name, 
    update_time, del_flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bas_transport_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectListVO" resultType="com.szmsd.bas.domain.BasTransportConfig">
    select
    <include refid="Base_Column_List" />
    from bas_transport_config
    where transport_code = #{transportCode}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from bas_transport_config
    where transport_code = #{code}
  </delete>
  <insert id="insert" parameterType="com.szmsd.bas.domain.BasTransportConfig" >
    insert into bas_transport_config (id, transport_code, transport_name, 
      transport_name_en, warehouse_code, product_code, 
      product_name, create_by, create_by_name, 
      create_time, update_by, update_by_name, 
      update_time, del_flag)
    values (#{id,jdbcType=INTEGER}, #{transportCode,jdbcType=VARCHAR}, #{transportName,jdbcType=VARCHAR}, 
      #{transportNameEn,jdbcType=VARCHAR}, #{warehouseCode,jdbcType=VARCHAR}, #{productCode,jdbcType=VARCHAR}, 
      #{productName,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createByName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateByName,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.szmsd.bas.domain.BasTransportConfig" >
    insert into bas_transport_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="transportCode != null" >
        transport_code,
      </if>
      <if test="transportName != null" >
        transport_name,
      </if>
      <if test="transportNameEn != null" >
        transport_name_en,
      </if>
      <if test="warehouseCode != null" >
        warehouse_code,
      </if>
      <if test="productCode != null" >
        product_code,
      </if>
      <if test="productName != null" >
        product_name,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createByName != null" >
        create_by_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateByName != null" >
        update_by_name,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="delFlag != null" >
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="transportCode != null" >
        #{transportCode,jdbcType=VARCHAR},
      </if>
      <if test="transportName != null" >
        #{transportName,jdbcType=VARCHAR},
      </if>
      <if test="transportNameEn != null" >
        #{transportNameEn,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCode != null" >
        #{warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createByName != null" >
        #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateByName != null" >
        #{updateByName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.szmsd.bas.domain.BasTransportConfig" >
    update bas_transport_config
    <set >
      <if test="transportCode != null" >
        transport_code = #{transportCode,jdbcType=VARCHAR},
      </if>
      <if test="transportName != null" >
        transport_name = #{transportName,jdbcType=VARCHAR},
      </if>
      <if test="transportNameEn != null" >
        transport_name_en = #{transportNameEn,jdbcType=VARCHAR},
      </if>
      <if test="warehouseCode != null" >
        warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
      </if>
      <if test="productCode != null" >
        product_code = #{productCode,jdbcType=VARCHAR},
      </if>
      <if test="productName != null" >
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createByName != null" >
        create_by_name = #{createByName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateByName != null" >
        update_by_name = #{updateByName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.szmsd.bas.domain.BasTransportConfig" >
    update bas_transport_config
    set transport_code = #{transportCode,jdbcType=VARCHAR},
      transport_name = #{transportName,jdbcType=VARCHAR},
      transport_name_en = #{transportNameEn,jdbcType=VARCHAR},
      warehouse_code = #{warehouseCode,jdbcType=VARCHAR},
      product_code = #{productCode,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_by_name = #{createByName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_by_name = #{updateByName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>