<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.szmsd.http.mapper.BasYcappConfigMapper" >
  <resultMap id="BaseResultMap" type="com.szmsd.http.domain.YcAppParameter" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="app_token" property="appToken" jdbcType="VARCHAR" />
    <result column="app_key" property="appKey" jdbcType="VARCHAR" />
    <result column="yc_url" property="ycUrl" jdbcType="VARCHAR" />
    <result column="functiontr_module" property="functiontrModule" jdbcType="VARCHAR" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, app_token, app_key, yc_url, functiontr_module, account_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bas_ycapp_config
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bas_ycapp_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.szmsd.http.domain.YcAppParameter" >
    insert into bas_ycapp_config (id, app_token, app_key, 
      yc_url, functiontr_module, account_name
      )
    values (#{id,jdbcType=INTEGER}, #{appToken,jdbcType=VARCHAR}, #{appKey,jdbcType=VARCHAR}, 
      #{ycUrl,jdbcType=VARCHAR}, #{functiontrModule,jdbcType=VARCHAR}, #{accountName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.szmsd.http.domain.YcAppParameter" >
    insert into bas_ycapp_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appToken != null" >
        app_token,
      </if>
      <if test="appKey != null" >
        app_key,
      </if>
      <if test="ycUrl != null" >
        yc_url,
      </if>
      <if test="functiontrModule != null" >
        functiontr_module,
      </if>
      <if test="accountName != null" >
        account_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="appToken != null" >
        #{appToken,jdbcType=VARCHAR},
      </if>
      <if test="appKey != null" >
        #{appKey,jdbcType=VARCHAR},
      </if>
      <if test="ycUrl != null" >
        #{ycUrl,jdbcType=VARCHAR},
      </if>
      <if test="functiontrModule != null" >
        #{functiontrModule,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.szmsd.http.domain.YcAppParameter" >
    update bas_ycapp_config
    <set >
      <if test="appToken != null" >
        app_token = #{appToken,jdbcType=VARCHAR},
      </if>
      <if test="appKey != null" >
        app_key = #{appKey,jdbcType=VARCHAR},
      </if>
      <if test="ycUrl != null" >
        yc_url = #{ycUrl,jdbcType=VARCHAR},
      </if>
      <if test="functiontrModule != null" >
        functiontr_module = #{functiontrModule,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.szmsd.http.domain.YcAppParameter" >
    update bas_ycapp_config
    set app_token = #{appToken,jdbcType=VARCHAR},
      app_key = #{appKey,jdbcType=VARCHAR},
      yc_url = #{ycUrl,jdbcType=VARCHAR},
      functiontr_module = #{functiontrModule,jdbcType=VARCHAR},
      account_name = #{accountName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>