<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.ord.mapper.DelOutboundAddressMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.szmsd.ord.domain.DelOutboundAddress">
                    <id column="id" property="id"/>
                    <result column="create_by_name" property="createByName"/>
                    <result column="create_time" property="createTime"/>
                    <result column="update_by_name" property="updateByName"/>
                    <result column="update_time" property="updateTime"/>
                    <result column="remark" property="remark"/>
                    <result column="create_by" property="createBy"/>
                    <result column="update_by" property="updateBy"/>
                    <result column="version" property="version"/>
                    <result column="del_flag" property="delFlag"/>
                    <result column="trace_id" property="traceId"/>
                    <result column="order_no" property="orderNo"/>
                    <result column="consignee" property="consignee"/>
                    <result column="country_code" property="countryCode"/>
                    <result column="country" property="country"/>
                    <result column="zone" property="zone"/>
                    <result column="state_or_province" property="stateOrProvince"/>
                    <result column="city" property="city"/>
                    <result column="street1" property="street1"/>
                    <result column="street2" property="street2"/>
                    <result column="street3" property="street3"/>
                    <result column="post_code" property="postCode"/>
                    <result column="phone_no" property="phoneNo"/>
                    <result column="email" property="email"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                create_by_name,
                create_time,
                update_by_name,
                update_time,
                remark,
            id, create_by, update_by, version, del_flag, trace_id, order_no, consignee, country_code, country, zone, state_or_province, city, street1, street2, street3, post_code, phone_no, email
        </sql>


</mapper>
