<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szmsd.chargerules.mapper.OperationMapper">

    <select id="findCount" parameterType="com.szmsd.chargerules.domain.Operation" resultType="Integer">
        SELECT COUNT(1) FROM cha_operation
            <where>
                operation_type = #{operationType} AND order_type = #{orderType} AND warehouse_code = #{warehouseCode}
                AND ((minimum_weight <![CDATA[ <= ]]> #{minimumWeight} AND maximum_weight > #{minimumWeight}) OR (minimum_weight <![CDATA[ <= ]]> #{maximumWeight} AND maximum_weight > #{maximumWeight}))
                <if test="id != null or id != 0">
                    AND id != #{id}
                </if>
            </where>
    </select>

</mapper>
